body {
	background-color: #121420;
}

body.gradient {
	background: rgb(18,20,32);
	background: linear-gradient(90deg, rgba(18,20,32,1) 23%, rgba(183,109,104,1) 100%);
}

body.work {
	background: url(photos/work.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.index {
	background: url(photos/3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}

body.music {
	background: url(photos/heather.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}

body.webdev {
	background: url(photos/van.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}

h1 {
	text-align: center;
	color: white;
	font-size: 575%;
	font-family: 'Playfair Display', serif;
}

h2 {
	text-align: center;
	color: white;
	font-size: 6vw;
	font-family: 'Playfair Display', serif;
}

h3 {
	font-size: 250%;
	font-family: 'Playfair Display', serif;
	color: white;
}
p {
	color: white;
}

.bgop {
	color: white;
	background: rgba(0, 0, 0, .5);
	padding: 1.8px;
}

h1.contact {
	text-align: center;
	color: white;
	font-size: 575%;
	font-family: 'Playfair Display', serif;
}

h1.work {
	text-align: center;
	color: white;
	font-size: 700%;
	font-family: 'Playfair Display', serif;
	text-shadow: 5px 5px black;
}

h1.webdev {
	text-align: center;
	color: white;
	font-size: 550%;
	font-family: 'Playfair Display', serif;
	text-shadow: 5px 5px black;
}

h1.index  {
	text-align: center;
	color: white;
	font-size: 575%;
	font-family: 'Playfair Display', serif;
}

h1.overlay {
	position: absolute;
}

a.nostyle {
	color: inherit;
	text-decoration: none;
}

h2.work {
	text-align: center;
	color: white;
	font-size: 400%;
	font-family: 'Playfair Display', serif;
	background-color: black;
}

h2.work:hover {
	color: black;
}

p.wiw {
	text-align: center;
	color: black;
	font-size: 150%;
	font-family: 'Abril Fatface', cursive;
}

.navbar-brand {
	color: white;
	font-family: 'Playfair-Display', serif;
}

.navbar-brand:hover {
	color: white;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #403F4C;
}

.my-container {
	/*border: 4px solid green;*/
	width: 100%;
}

.my-row {
	/*border: 3px solid red;*/
}

.my-col {
	/*border: 3px dotted blue;*/
	overflow: hidden;
}

.grid-container {
	/*border: 4px solid green;*/
}

.grid-row {
	/*border: 3px solid red;*/
}

.grid-col {
	/*border: 3px dotted blue;*/
}

.navbar {
	z-index: 1;
}

.main-form {
	color: white;
	background-color: transparent;
	width: 400px;
	margin: auto;
}

.roundy-corners {
	border-radius: 25px;
	border-width: 0px;
	border-color: #403F4C;
}

.video-container {
	position: fixed;
	max-height: 500px;
	overflow: hidden;
	max-width: 100%;
}

.video-container-bg {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.btn-keffer {
	border-width: 1px;
	color: white;
	border-color: white;
	background-color: transparent;
}

.btn-keffer:hover {
	background-color: white;
	color: white;
}

.current {
	color: #B76D68
}

.current:hover {
	color: #B76D68;
}

.spacer {
	height: 225px;
	/*border: 2px dotted orange;*/
}

.spacer-work {
	height: 6vw;
	/*border: 2px dotted orange;*/
}

.baby-spacer {
	height: 30px;
	/*border: 2px dotted orange;*/
}

.content {
	position: fixed;
	width: 100%;
}

.hamburger {
	color: white;
	font-size: 40px;
}

img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

 /*Testing */

