body {
	background-color: #121420;
}

h1 {
	text-align: center;
	color: white;
	font-size: 800%;
	font-family: 'Playfair Display', serif;
}

h1.work {
	text-shadow: 5px 5px black;
}

h1.overlay {
	position: absolute;
}

a.nostyle {
	color: white;
	text-decoration: none;
}

h2 {
	text-align: center;
	color: white;
	font-size: 2vw;
	font-family: 'Abril Fatface', cursive;

}

.navbar-toggler-icon {
	
}

.navbar-brand {
	color: white;
	font-family: 'Playfair-Display', serif;
}

.navbar-brand:hover {
	color: white;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: #403F4C;
}

.my-container {
	/*border: 4px solid green;*/
	width: 100%;
	height: 100%;
}

.banner-container {

}

.my-row {
	/*border: 3px solid red;*/
	height: auto;
}

.my-row-2 {
	/*border: 3px solid red;*/
}

.navbar {
	z-index: 1;
}

.my-col {
	/*border: 3px dotted blue;*/
	justify-content: center;
}

.main-form {
	color: white;
	background-color: transparent;
	width: 400px;
	margin: auto;
}

.roundy-corners {
	border-radius: 25px;
	border-width: 0px;
	border-color: #403F4C;
}

.navbar-style {

}

.about-row {
	background: transparent;
}

.work-row {
	background: transparent;
}

.contact-row {
	background: transparent;
}

.video-container {
	position: fixed;
	max-height: 500px;
	overflow: hidden;
	max-width: 100%;
}

.video-container-bg {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.btn-keffer {
	border-width: 1px;
	color: white;
	border-color: white;
	background-color: transparent;
}

.btn-keffer:hover {
	background-color: white;
	color: white;
}

.current {
	color: #B76D68
}

.current:hover {
	color: #B76D68;
}

.spacer {
	height: 10vw;
	/*border: 2px dotted orange;*/
}

.spacer-auto {
	height: auto;
	/*border: 2px dotted orange;*/
	text-align: center;
}

.content {
	position: fixed;
	width: 100%;
}

p.wiw {
	text-align: center;
	color: black;
	font-size: 150%;
	font-family: 'Abril Fatface', cursive;
}

/* Testing */

